{% extends 'accueil/base.html.twig' %}

{% block title %}Holà!{% endblock %}

{% block body %}
<style>
    .container-fluid { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .container-fluid  { background: rgb(202, 16, 16); padding: 2px 6px; }
</style>



<div class="container-fluid">
    <div class="row">
        {% for row in result %}
            <div class="col-sm-6">
                <div class="card">
                    <h5 class="card-header"></h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Title : {{row.title}}</li>
                            <li class="list-group-item">Article : {{row.article}}</li>
                        </ul>
                    <div class="card-body">
                        <a href="{{path('article', {id:row.id})}}" class="btn btn-primary">Waf</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
  <p>mon premier article</p>
</div>
{% endblock %}

