
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand" href="#">Mon Blog !</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{path('accueil')}}"> Accueil <span class="sr-only">(current)</span></a>
        </li>
        {# <li class="nav-item">
          <a class="nav-link" href="{{path('presentation')}}">A propos</a>
        </li> #}
        <li class="nav-item">
          <a class="nav-link" href="{{path('connexion')}}">Connexion</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

