{% extends 'accueil/index.html.twig' %}

{% block presentation %}
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium nesciunt at reprehenderit perferendis dolor ex, maiores sunt sit suscipit repellat voluptate, nobis obcaecati quaerat deleniti amet molestiae natus doloremque. Adipisci.</p>
{% endblock presentation %}